{% extends "base.twig" %}
{% block content %}
    <ul>
        {% for quiz in quizzes %}
            <li><a href="{{ urlFor('play_quiz', {id: quiz._id}) }}">{{ quiz.name }}</a> </li>
        {% endfor %}
    </ul>
{% endblock %}